<ion-view view-title="Contact Us">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        <h2><strong>Location Information</strong></h2>
      </div>
      <div class="item">
        <h2>Our Address</h2>
        <address style="font-size: 100%">
          <small>
            121, Clear Water Bay Road<br>
            Clear Water Bay, Kowloon<br>
            HONG KONG<br>
            <i class="ion-ios-telephone"></i>: +852 1234 5678<br>
            <i class="ion-printer"></i>: +852 8765 4321<br>
            <i class="ion-email-unread"></i>:
            <a href="mailto:confusion@food.net">confusion@food.net</a>
          </small>
        </address>
        <div class="button-bar">
          <a type="button" class="button button-positive icon icon-left ion-ios-telephone" href="tel:+85212345678">Call</a>
          <a type="button" class="button button-calm icon icon-left ion-social-skype">Skype</a>
          <a type="button" class="button button-balanced icon icon-left ion-email" href="mailto:confusion@food.net">Email</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
