<ion-modal-view>
  <ion-header-bar>
    <h1 class="title text-center">Add Comment</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCommentForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="addComment()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="commentData.author">
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Rating</span>
          <select ng-model="commentData.rating">
            <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">{{n}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Comment</span>
          <textarea ng-model="commentData.comment" rows="10" cols="10" maxlength="200"></textarea>
        </label>
        <label class="item">
          <button class="button button-positive" type="submit">Add Comment</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
